.swiper {
    width: 100%;
    height: 80vh;
}

.swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.swiper-text {
    position: absolute;
    bottom: 40%;
    left: 0;
    color: #FFD2D2;
    padding-left: 2%;
    font-size: 3.5vw;
    width: 40%;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.whatsapp-icon {
  font-size: 20px;
  color: white;
  padding-left: 2px;
}

.swiper-button {
    position: absolute;
    bottom: calc(40% - 80px);
    left: 0;
    background-color: #DB3A3E;
    padding: 1% 2%;
    margin-left: 2%;
    border-radius: 8px;
    cursor: pointer;
}

.swiper-button-text {
    color: white;
    font-size: 1.25rem;
}


@media screen and (max-width: 1200px) {
    .swiper {
        height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .swiper {
        height: 50vh;
    }
    .swiper-text {
        font-size: 7vw;
        width: 80%;
        bottom: 45%;
    }
    .swiper-button {
        bottom: calc(45% - 60px);
    }
}

@media screen and (max-width: 480px) {
    .swiper {
        height: 40vh;
    }
    .swiper-text {
        font-size: 9vw;
        width: 90%;
        bottom: 40%;
    }
    .swiper-button {
        padding: 2% 4%;
        font-size: 1.5rem;
        bottom: calc(40% - 50px);
    }

}
